* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    display: flex;
}

section {
    margin: 0;
    min-width: 1368px;
    min-height: 737px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

h1 {
    margin: 0;
    padding: 0;
}
